<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceng319.greenhousesystemproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DisplayTempAndMoistureReadings"
            android:label="@string/title_activity_display_temp_and_moisture_readings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CalenderActivity" />
        <activity
            android:name=".Firebase_Bar"
            android:label="@string/title_activity_firebase__bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Write_temperature" />
        <activity android:name=".Read_temperature" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaterSupplyControlActivity"
            android:label="@string/title_activity_water_supply_control"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoilMoistureDataActivity"
            android:label="@string/title_activity_soil_moisture_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TemperatureDataActivity"
            android:label="@string/title_activity_temperature_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainReadingsPageActivity"
            android:label="@string/title_activity_main_readings_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Greenhouse System Project"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>